# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

# Poetry venv local
.venv/

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
